.vermelha {
    -fx-background-color : WHITE;
}

.labelLoginSenha {
    -fx-font-family: Oswald;
    -fx-text-fill: #eee;
    -fx-font-size: 18px;
     -fx-text-fill: black;
}

.campoTextoLogin {

    -fx-text-fill: #1d6021; /* Cor do texto */

}

.senha {
   -fx-text-fill: black;
}







.titulo {
    -fx-font-family: Oswald;
    -fx-text-fill: #eee;
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.botaoEntrar {
    -fx-background-radius: 0px;
    -fx-min-height: 40px;
    -fx-min-width: 110px;
    -fx-background-color: #1d6021;
    -fx-text-fill: white;
}

.botaoCadastro {
    -fx-background-color: #4CAF50; /* Cor de fundo */
    -fx-background-radius: 0px;
    -fx-min-height: 20px;
    -fx-min-width: 90px;
    -fx-text-fill: white;

}

.botaoCadastro:hover {
    -fx-background-color: #45a049; /* Cor de fundo ao passar o mouse */

    }

.botaoCadastro:pressed {
    -fx-background-color: #388e3c; /* Cor de fundo ao clicar */
    }